.DS_Store

/server/node_modules
/server/public/hot
/server/public/storage
/server/storage/*.key
/server/storage/db/mongo
/server/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
